<%= stylesheet_link_tag 'about', media: 'all' %>
<div id='root_about'></div>
<%= javascript_pack_tag 'header', media: 'all'%>

    <div class='wrapper'>
        <img class='image' src='/icon-192x192.png'>
        <h1 id='root_about_title'>
        <h1 style='margin-bottom: 20px;' >~数学好きのためのアプリ~</h1>
        </h1>
        <%= javascript_pack_tag 'Title', media: 'all' %>
        <div style='text-align: center; margin-bottom: 20px;'>Mualphathetaは、数学の問題や解答を共有するためのサービスです。</div>
        <a href='/'><button class='button' type='button'>アプリを始める</button></a>
        <div style='margin: auto; margin-top: 20px; text-align: center; font-weight: bold; font-size: 20px; color: gray;' >CONCEPT</div>
        <h2>Mualphathetaの目的</h2>
        <h3>数学好きが楽しめる問題・解答を共有する場を作ろう</h3>
        <div class='textbox'>
            Mualphathetaでは数学好き同士が互いに問題・解答を共有し合うことによって、
            さまざまな問題や解答を見ることができるようになります。
            そのため、数学に対する知見を広めることや論理的思考力、表現力を高めることができます。
            数学の解答力の向上や娯楽としての数学の嗜好など、
            それぞれの目的に合った使い方をすることによって数学をより一層楽しめる環境を作ることを目指します。
        </div>
        <h3>問題・解答を投稿してお互いを高め合おう</h3>
        <div class='textbox'>
            問題をより多く投稿することによってより多くの人の経験値が増えます。
            また、より多く解答することによってより多くの人の解答の引き出しを増やすことができます。
            コメントによって、ときには間違いの訂正や補足を互いにし合って自分だけでは気づかなかったことを
            知る機会を作ることができます。投稿者は自分だけでなく多くの人の数学力向上に貢献することができます。
        </div>
        <a href='/'><button class='button' type='button'>アプリを始める</button></a>
        <h2>アプリの使い方</h2>
        <h3>問題ページ</h3>
        <div class='textbox'>
            問題ページではユーザーが投稿した問題を閲覧することができます。
            問題にはタグや履修範囲、単元などが設定されているため、
            それらによる絞り込みも可能になっています。
            数学に特化した媒体であるためTexによる記述が可能となっており、
            画像による投稿も可能になっています。そのため、図やグラフを添付したり手書きの文章も投稿できます。
            気に入った問題にいいねすることで、後から見返すことができるようになっています。
            問題に解答やコメントをすることで、より活発な場を作ることができます。
        </div>
        <a href='/スクリーンショット 2022-03-16 17.45.23.png'><img class='pageimage' src='/スクリーンショット 2022-03-16 17.45.23.png' /></a>
        <a href='/スクリーンショット 2022-03-16 18.16.41.png'><img class='pageimagehigh' src='/スクリーンショット 2022-03-16 18.16.41.png' /></a>
        <h3>問題・解答の投稿</h3>
        <div class='textbox'>
            問題や解答を投稿するページです。数学の問題を作成する際に欠かせないのが
            Texですが、このアプリはTexによる記述が可能になっています。また、Texのプレビュー機能
            も実装しているため、より簡単にTexを記述することができます。
            もしあなたがTexの記法を知らなくても心配ありません。基本的なTexの書き方を説明したページを
            用意しているので、書き方がわからない方はぜひそちらをご覧ください。
        </div>
        <a href='/スクリーンショット 2022-03-16 18.21.38.png'><img class='pageimage' src='/スクリーンショット 2022-03-16 18.21.38.png' /></a>
        <a href='/スクリーンショット 2022-03-16 18.17.13.png'><img class='pageimagehigh' src='/スクリーンショット 2022-03-16 18.17.13.png' /></a>
        <a href='/' ><button class='button' type='button' >アプリを始める</button></a>
    </div>
    <div class='footer'>
        <a href='/form'><div>お問い合わせ</div></a>
    </div>

